#services {
    background-color:rgb(9, 7, 7);
}

#services > h2 {
    color: white;
}

.services-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
}

.service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid gray;
    border-radius: 12px;
}

.service-title > h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #c2c2c2;
    text-align: center;
}

.service-image {
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

#services img {
    width: 400px;
    max-width: 80vw;
    height: auto;
    border-radius: 12px;
}

.service-description {
    font-size: 18px;
    font-family: "Poppins",Ariel,sans-serif;
    line-height: 1.5rem;
    color: #c1c1c1;
    text-align: center;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* #hero, #services {
    height: 100vh;
    overflow:inherit; 
  }
   */
  
  .service-card.in-view {
    animation: slideInFromRight 1s forwards;
  }

@media only screen and (max-width:900px){
    .services-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
